---
import Section from "../Section.astro";

import { work } from "@/CV.json";
---

<Section title="Experiencia">
    <ul>
        {
            work.map(({ name, startDate, endDate, position, summary }) => {
                const startYear = new Date(startDate).getFullYear();
                const endYear =
                    endDate != null
                        ? new Date(endDate).getFullYear()
                        : "Actual";
                const Years = `${startYear} - ${endYear}`;

                return (
                    <li>
                        <article>
                            <header>
                                <div>
                                    <h3>{name}</h3>
                                    <h4>{position}</h4>
                                </div>
                                <time>{Years}</time>
                            </header>
                            <footer>
                                <p>{summary}</p>
                            </footer>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    li {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3 {
        font-weight: 500;
        color: #111;
    }
    article h4 {
        color: #222;
        font-weight: 400;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        font-size: 0.85rem;
        color: #555;
    }
    footer {
        margin-bottom: 15px;
    }
</style>
