---
import { basics } from "@/CV.json";
import Section from "@/components/Section.astro";
import Mail from "@/components/icons/Mail.astro";
import Phone from "@/components/icons/Phone.astro";
import Linkedin from "@/components/icons/LinkedIn.astro";
import Github from "@/components/icons/Github.astro";
import WorldMap from "@/components/icons/WorldMap.astro";

const { name, label, image, location, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
    Github,
    Linkedin,
};

const profiles = [
    {
        network: "Github",
        url: "https://github.com/PalaciosLuis",
        username: "PalaciosLuis",
    },
    {
        network: "Linkedin",
        url: "https://www.linkedin.com/in/luis-palacios-sernaque/",
        username: "Luis",
    },
];

const linkedinfo = profiles.find(({ network }) => network === "Linkedin");
const linkedUrl = linkedinfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" . ");
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <WorldMap />
                {city}, {region}
            </span>

            <footer class="print accesible-info">
                {printInfo}
            </footer>
            <footer class="no-print">
                {
                    email && (
                        <a
                            href={`mailto:${email}`}
                            title={`Enviar un correo electrónico a ${name} al correo ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Mail />
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            href={`tel:${phone}`}
                            title={`Llamar por teléfono a ${name} al número ${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Phone />
                        </a>
                    )
                }
                {
                    profiles.map(({ network, url, username }) => {
                        const Icon = SOCIAL_ICONS[network];
                        return (
                            <a
                                href={url}
                                title={`Visitar el perfil de ${name} en ${network}`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon />
                            </a>
                        );
                    })
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} />
        </figure>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 32px;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        color: #444;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
    }
    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 16px;
        width: 100px;
    }

    span {
        color: #666;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.85rem;
        letter-spacing: -0.05rem;
    }

    footer {
        color: #555;
        font-size: 0.65rem;
        display: flex;
        gap: 4px;
        margin-top: 8px;
    }
    footer a {
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }
    footer a:hover {
        background: #eee;
        border: 1px solid #ddd;
    }
</style>
